{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "ShiprocketAPI",
    "description": "A common dashboard to manage your entire business on various Marketplaces.",
    "license": {
      "name": "MIT",
      "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    }
  },
  "host": "krmct001.kartrocket.co",
  "schemes": ["http"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/v1/external/auth/login": {
      "post": {
        "tags": [
          "AUTHENTICATION"
        ],
        "description": "Get user and token from credentials",
        "summary": "Generate access token",
        "operationId": "Get token",
        "produces": ["application/json"],
        "parameters": [{
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetTokenResponse"
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "POST",
              "uri": "/v1/external/auth/login",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"email\": \"john@doe.com\",    \"password\": \"198372918\"}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{  \"id\": 31,  \"first_name\": \"John\",  \"last_name\": \"Doe\",  \"email\": \"john@doe.com\",  \"company_id\": 34,  \"created_at\": \"2017-01-20 13:06:29\",  \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUI1NiJ9.eyJzdWIiOjM1LCJpc3MiOiJodHRwOlwvXC9tdWx0aWNoYW5uZWwuYXBpXC92MVwvZXh0ZXJuYWxcL2F1dGhcL2xvZ2luIiwiaWF0IjoxNDg1MTc1MzEwLCJleHAiOjE0ODUxODA3MTAsIm5iZiI6MTQ4NTE3NTMxMCwianRpIjoiMzNhYWE3Y2Q0NzExMWIxNDMzMGEzZDEwZTNiNjUxZDcifQ.mcRfqwcy3izqsbfwSf1p4Xakg_0N-Ms9iqkEqoIkY2Q\"}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get token1",
            "x-testDescription": "Get user and token from credentials"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Get a JSON representation of all countries",
        "summary": "Get all countries",
        "operationId": "Get countries",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetCountriesResponse"
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/countries"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{  \"status\": 200,  \"data\": [    {      \"id\": 1,      \"name\": \"Afghanistan\",      \"iso_code_2\": \"AF\",      \"iso_code_3\": \"AFG\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 2,      \"name\": \"Albania\",      \"iso_code_2\": \"AL\",      \"iso_code_3\": \"ALB\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 3,      \"name\": \"Algeria\",      \"iso_code_2\": \"DZ\",      \"iso_code_3\": \"DZA\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 4,      \"name\": \"American Samoa\",      \"iso_code_2\": \"AS\",      \"iso_code_3\": \"ASM\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 5,      \"name\": \"Andorra\",      \"iso_code_2\": \"AD\",      \"iso_code_3\": \"AND\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 6,      \"name\": \"Angola\",      \"iso_code_2\": \"AO\",      \"iso_code_3\": \"AGO\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 7,      \"name\": \"Anguilla\",      \"iso_code_2\": \"AI\",      \"iso_code_3\": \"AIA\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 8,      \"name\": \"Antarctica\",      \"iso_code_2\": \"AQ\",      \"iso_code_3\": \"ATA\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 9,      \"name\": \"Antigua and Barbuda\",      \"iso_code_2\": \"AG\",      \"iso_code_3\": \"ATG\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 10,      \"name\": \"Argentina\",      \"iso_code_2\": \"AR\",      \"iso_code_3\": \"ARG\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 11,      \"name\": \"Armenia\",      \"iso_code_2\": \"AM\",      \"iso_code_3\": \"ARM\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 12,      \"name\": \"Aruba\",      \"iso_code_2\": \"AW\",      \"iso_code_3\": \"ABW\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 13,      \"name\": \"Australia\",      \"iso_code_2\": \"AU\",      \"iso_code_3\": \"AUS\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 14,      \"name\": \"Austria\",      \"iso_code_2\": \"AT\",      \"iso_code_3\": \"AUT\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 15,      \"name\": \"Azerbaijan\",      \"iso_code_2\": \"AZ\",      \"iso_code_3\": \"AZE\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 16,      \"name\": \"Bahamas\",      \"iso_code_2\": \"BS\",      \"iso_code_3\": \"BHS\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 17,      \"name\": \"Bahrain\",      \"iso_code_2\": \"BH\",      \"iso_code_3\": \"BHR\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 18,      \"name\": \"Bangladesh\",      \"iso_code_2\": \"BD\",      \"iso_code_3\": \"BGD\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 19,      \"name\": \"Barbados\",      \"iso_code_2\": \"BB\",      \"iso_code_3\": \"BRB\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 20,      \"name\": \"Belarus\",      \"iso_code_2\": \"BY\",      \"iso_code_3\": \"BLR\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 21,      \"name\": \"Belgium\",      \"iso_code_2\": \"BE\",      \"iso_code_3\": \"BEL\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 22,      \"name\": \"Belize\",      \"iso_code_2\": \"BZ\",      \"iso_code_3\": \"BLZ\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 23,      \"name\": \"Benin\",      \"iso_code_2\": \"BJ\",      \"iso_code_3\": \"BEN\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 24,      \"name\": \"Bermuda\",      \"iso_code_2\": \"BM\",      \"iso_code_3\": \"BMU\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 25,      \"name\": \"Bhutan\",      \"iso_code_2\": \"BT\",      \"iso_code_3\": \"BTN\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 26,      \"name\": \"Bolivia\",      \"iso_code_2\": \"BO\",      \"iso_code_3\": \"BOL\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 27,      \"name\": \"Bosnia and Herzegowina\",      \"iso_code_2\": \"BA\",      \"iso_code_3\": \"BIH\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 28,      \"name\": \"Botswana\",      \"iso_code_2\": \"BW\",      \"iso_code_3\": \"BWA\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 29,      \"name\": \"Bouvet Island\",      \"iso_code_2\": \"BV\",      \"iso_code_3\": \"BVT\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 30,      \"name\": \"Brazil\",      \"iso_code_2\": \"BR\",      \"iso_code_3\": \"BRA\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 31,      \"name\": \"British Indian Ocean Territory\",      \"iso_code_2\": \"IO\",      \"iso_code_3\": \"IOT\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 32,      \"name\": \"Brunei Darussalam\",      \"iso_code_2\": \"BN\",      \"iso_code_3\": \"BRN\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 33,      \"name\": \"Bulgaria\",      \"iso_code_2\": \"BG\",      \"iso_code_3\": \"BGR\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 34,      \"name\": \"Burkina Faso\",      \"iso_code_2\": \"BF\",      \"iso_code_3\": \"BFA\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 35,      \"name\": \"Burundi\",      \"iso_code_2\": \"BI\",      \"iso_code_3\": \"BDI\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 36,      \"name\": \"Cambodia\",      \"iso_code_2\": \"KH\",      \"iso_code_3\": \"KHM\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 37,      \"name\": \"Cameroon\",      \"iso_code_2\": \"CM\",      \"iso_code_3\": \"CMR\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 38,      \"name\": \"Canada\",      \"iso_code_2\": \"CA\",      \"iso_code_3\": \"CAN\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 39,      \"name\": \"Cape Verde\",      \"iso_code_2\": \"CV\",      \"iso_code_3\": \"CPV\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 40,      \"name\": \"Cayman Islands\",      \"iso_code_2\": \"KY\",      \"iso_code_3\": \"CYM\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 41,      \"name\": \"Central African Republic\",      \"iso_code_2\": \"CF\",      \"iso_code_3\": \"CAF\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 42,      \"name\": \"Chad\",      \"iso_code_2\": \"TD\",      \"iso_code_3\": \"TCD\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 43,      \"name\": \"Chile\",      \"iso_code_2\": \"CL\",      \"iso_code_3\": \"CHL\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    },    {      \"id\": 44,      \"name\": \"China\",      \"iso_code_2\": \"CN\",      \"iso_code_3\": \"CHN\",      \"address_format\": \"\",      \"postcode_required\": 0,      \"status\": 1    }  ]}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get countries1",
            "x-testDescription": "Get a JSON representation of all countries"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/countries/show/{id}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Get all zones",
        "summary": "Get all zones of a country",
        "operationId": "Get zones",
        "produces": ["application/json"],
        "parameters": [{
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Country id"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetZonesResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "description": "Get a JSON representation of all products",
        "summary": "Get all Products",
        "operationId": "Get products",
        "produces": ["application/json"],
        "parameters": [{
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Page number of data to display"
          }, {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of products to get per request"
          }, {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort type (DESC, ASC)"
          }, {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Field to sort by"
          }, {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter value"
          }, {
            "name": "filter_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Field to filter by"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetProductsResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "description": "Add new product",
        "summary": "Add new Products",
        "operationId": "Add",
        "produces": ["application/json"],
        "parameters": [{
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "POST",
              "uri": "/v1/external/products",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"sku\": \"Toys\",    \"name\": \"Batman Figurine\",    \"tax_code\": \"default\",    \"type\": \"Single\",    \"qty\": \"80\",    \"low_stock\": \"\",    \"category_code\": \"default\",    \"description\": \"\",    \"brand\": \"\",    \"size\": \"\",    \"weight\": \"\",    \"length\": \"\",    \"width\": \"\",    \"height\": \"\",    \"ean\": \"\",    \"upc\": \"\",    \"isbn\": \"\",    \"color\": \"\",    \"imei_serialnumber\": \"\",    \"cost_price\": \"\",    \"mrp\": \"\",    \"status\": 1,    \"image_url\": \"\",    \"components\": []}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "[]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Add1",
            "x-testDescription": "Add new product"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/products/show/{id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "description": "Display single product details",
        "summary": "Get details of a single Product",
        "operationId": "Show",
        "produces": ["application/json"],
        "parameters": [{
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ShowResponse"
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/products/show/{id}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{  \"data\": {    \"id\": 1,    \"sku\": \"dashdbsaj\",    \"name\": \"dsahbds\",    \"description\": \"\",    \"category_code\": \"default\",    \"category_name\": \"Default Category\",    \"category_tax_code\": \"default\",    \"image\": \"\",    \"weight\": \"0.50\",    \"size\": \"\",    \"cost_price\": \"0.00\",    \"mrp\": \"0.00\",    \"tax_code\": \"default\",    \"low_stock\": 0,    \"ean\": \"\",    \"upc\": \"\",    \"isbn\": \"\",    \"created_at\": \"4 Jan 2017 07:31 PM\",    \"updated_at\": \"4 Jan 2017 07:31 PM\",    \"quantity\": 46,    \"color\": \"\",    \"brand\": \"\",    \"dimensions\": \"10.00 x 10.00 x 10.00\",    \"status\": \"ACTIVE\",    \"is_combo\": 0  }}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Show1",
            "x-testDescription": "Display single product details"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/products/import": {
      "post": {
        "tags": [
          "Products"
        ],
        "description": "Import CSV containing products data",
        "summary": "Import Products in bulk",
        "operationId": "Bulk import",
        "produces": ["application/json"],
        "parameters": [{
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkImportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "POST",
              "uri": "/v1/external/products/import",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"file\": \"\u003cfile to import\u003e\"}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "[]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Bulk import1",
            "x-testDescription": "Import CSV containing products data"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/products/export": {
      "get": {
        "tags": [
          "Products"
        ],
        "description": "Export CSV file containing company's products data",
        "summary": "Export Products in bulk",
        "operationId": "Bulk export",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/products/export"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "[    \"csvdata\"]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Bulk export1",
            "x-testDescription": "Export CSV file containing company's products data"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/products/sample": {
      "get": {
        "tags": [
          "Products"
        ],
        "description": "Export a sample CSV file for importing",
        "summary": "Get a sample format to Import Products",
        "operationId": "Bulk sample",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/products/sample"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "[    \"csvdata\"]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Bulk sample1",
            "x-testDescription": "Export a sample CSV file for importing"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/products/update/imei": {
      "post": {
        "tags": [
          "Products"
        ],
        "description": "Update product IMEI",
        "summary": "Update IMEI of a Product",
        "operationId": "Update IMEI",
        "produces": ["application/json"],
        "parameters": [{
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateImeiRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "POST",
              "uri": "/v1/external/products/update/imei",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"data\": [{        \"order_product_id\": 9,        \"imei\": \"28921797BGSV\"    },{        \"order_product_id\" : 8,        \"imei\":\"JKBS3290482\"    }]}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Update IMEI1",
            "x-testDescription": "Update product IMEI"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/listings": {
      "get": {
        "tags": [
          "Listings"
        ],
        "description": "Get a JSON representation of all listings",
        "summary": "Get all Listings",
        "operationId": "Get all",
        "produces": ["application/json"],
        "parameters": [{
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Page number of data to display"
          }, {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of listings to get per request"
          }, {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort type (DESC, ASC)"
          }, {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Field to sort by"
          }, {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter value"
          }, {
            "name": "filter_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Field to filter by"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetAllResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/listings/import": {
      "post": {
        "tags": [
          "Listings"
        ],
        "description": "Import CSV containing channel catalog to master catalog mappings",
        "summary": "Import Catalog mappings",
        "operationId": "Bulk import1",
        "produces": ["application/json"],
        "parameters": [{
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkImportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "POST",
              "uri": "/v1/external/listings/import",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"file\": \"\u003cfile to import\u003e\"}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "[]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Bulk import1",
            "x-testDescription": "Import CSV containing channel catalog to master catalog mappings"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/listings/export/mapped": {
      "get": {
        "tags": [
          "Listings"
        ],
        "description": "Export CSV file containing mapped channel catalog data",
        "summary": "Export mapped Catalog details",
        "operationId": "Export mapped",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/listings/export/mapped"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "[    \"csvdata\"]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Export mapped1",
            "x-testDescription": "Export CSV file containing mapped channel catalog data"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/listings/export/unmapped": {
      "get": {
        "tags": [
          "Listings"
        ],
        "description": "Export CSV file containing un-mapped channel catalog data",
        "summary": "Export unmapped Catalog details",
        "operationId": "Export un-mapped",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/listings/export/unmapped"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "[    \"csvdata\"]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Export un-mapped1",
            "x-testDescription": "Export CSV file containing un-mapped channel catalog data"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/listings/export/sample": {
      "get": {
        "tags": [
          "Listings"
        ],
        "description": "Export sample CSV file for import listings",
        "summary": "Export sample format to import listings",
        "operationId": "Export sample",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/listings/export/sample"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "[    \"csvdata\"]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Export sample1",
            "x-testDescription": "Export sample CSV file for import"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/listings/link": {
      "post": {
        "tags": [
          "Listings"
        ],
        "description": "Map channel catalog to master catalog",
        "summary": "Map channel Catalog to master Catalog",
        "operationId": "Map",
        "produces": ["application/json"],
        "parameters": [{
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MapRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "POST",
              "uri": "/v1/external/listings/link",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"product_id\": 91,    \"listing_id\": 21}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Map1",
            "x-testDescription": "Map channel catalog to master catalog"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "Get a JSON representation of all orders",
        "summary": "Get all orders",
        "operationId": "Get all orders",
        "produces": ["application/json"],
        "parameters": [{
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Page number of data to display"
          }, {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of orders to get per request"
          }, {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort type (DESC, ASC)"
          }, {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Field to sort by"
          }, {
            "name": "to",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "To date"
          }, {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "From date"
          }, {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter value"
          }, {
            "name": "filter_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Field to filter by"
          }, {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search for AWB or Channel Order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetAllOrdersResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/orders/unprocessable": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "Get a JSON representation of all unprocessable orders",
        "summary": "Get all unprocessable orders",
        "operationId": "Get all unprocessable orders",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetAllUnprocessableOrdersResponse"
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/orders/unprocessable"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{  \"data\": [{    \"id\": 2835,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"123456\",    \"customer_name\": \"John Doe\",    \"customer_email\": \"johndoe@example.com\",    \"customer_phone\": \"9999999999\",    \"payment_status\": \"\",    \"total\": \"79.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"NEW\",    \"status_code\": 1,    \"payment_method\": \"cod\",    \"channel_created_at\": \"13 Sep 16, 11:45 PM\",    \"created_at\": \"13 Sep 16, 11:45 PM\",    \"products\": [{      \"id\": 2588,      \"channel_order_product_id\": \"322\",      \"name\": \"New product\",      \"channel_sku\": \"ABCD123\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2835,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2304,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"404-8000847-8863509\",    \"customer_name\": \"Harish kumar badisa\",    \"customer_email\": \"1wl1f4kj9tgpkd2@marketplace.amazon.in\",    \"customer_phone\": \"9299904615\",    \"payment_status\": \"\",    \"total\": \"1935.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"7 Sep 16, 08:19 AM\",    \"created_at\": \"7 Sep 16, 02:30 PM\",    \"products\": [{      \"id\": 2577,      \"channel_order_product_id\": \"13810481167563\",      \"name\": \"Black \u0026 Decker G720R 4-Inch/100mm 820-Watt Angle Grinder\",      \"channel_sku\": \"B\u0026D-G720\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2304,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2293,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"403-6663700-7373915\",    \"customer_name\": \"Parag Gadgil\",    \"customer_email\": \"14sp7qvtgd0lxm6@marketplace.amazon.in\",    \"customer_phone\": \"9922080922\",    \"payment_status\": \"\",    \"total\": \"2545.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"6 Sep 16, 10:22 AM\",    \"created_at\": \"6 Sep 16, 05:30 PM\",    \"products\": [{      \"id\": 2566,      \"channel_order_product_id\": \"19002651668963\",      \"name\": \"Black \u0026 Decker KS700PE 480-Watt Variable Speed Pendulum Jigsaw\",      \"channel_sku\": \"B\u0026D-KS700PE\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2293,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2286,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"171-8781295-5529161\",    \"customer_name\": \"ROHIT GANGA DEB\",    \"customer_email\": \"5pjcxfbh4cg5c5k@marketplace.amazon.in\",    \"customer_phone\": \"9937636446\",    \"payment_status\": \"\",    \"total\": \"2035.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"Other\",    \"channel_created_at\": \"5 Sep 16, 07:39 AM\",    \"created_at\": \"5 Sep 16, 02:00 PM\",    \"products\": [{      \"id\": 2559,      \"channel_order_product_id\": \"63310534052747\",      \"name\": \"Skil 7335 Orbital Sander 160W 93x230mm\",      \"channel_sku\": \"S-7335\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2286,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2278,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"3498483489\",    \"customer_name\": \"iodwuidsiud \",    \"customer_email\": \"dwieudiuE@ddjdks.com\",    \"customer_phone\": \"7834783478\",    \"payment_status\": \"\",    \"total\": \"0.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"PICKUP SCHEDULED\",    \"status_code\": 4,    \"payment_method\": \"Bank Transfer\",    \"channel_created_at\": \"13 Sep 16, 04:33 PM\",    \"created_at\": \"1 Sep 16, 04:33 PM\",    \"products\": [{      \"id\": 2551,      \"channel_order_product_id\": \"315\",      \"name\": \"Tshirt\",      \"channel_sku\": \"SKU1\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2278,      \"courier\": \"FEDEX\",      \"weight\": \"0.5\",      \"dimensions\": \"10 x 10 x 10\",      \"awb\": \"783975617971\"    }],    \"activities\": [\"ORDER_FETCHED\", \"DIMENSIONS_EDITED\", \"DIRECT_INVOICED\", \"LABEL_GENERATED\", \"MANIFEST_SCHEDULED\"]  }, {    \"id\": 2277,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"8394444444\",    \"customer_name\": \"locdijkdjs nkddjcndskjc\",    \"customer_email\": \"djks@kjsd.com\",    \"customer_phone\": \"9871727172\",    \"payment_status\": \"\",    \"total\": \"551.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"OUT OF STOCK\",    \"status_code\": 11,    \"payment_method\": \"Bank Transfer\",    \"channel_created_at\": \"14 Sep 16, 04:19 PM\",    \"created_at\": \"1 Sep 16, 04:19 PM\",    \"products\": [{      \"id\": 2550,      \"channel_order_product_id\": \"315\",      \"name\": \"Tshirt\",      \"channel_sku\": \"SKU1\",      \"quantity\": 29,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"OUT OF STOCK\"    }],    \"shipments\": [{      \"id\": 2277,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2276,    \"channel_id\": 127,    \"channel_name\": \"MAGENTO\",    \"base_channel_code\": \"MG\",    \"channel_order_id\": \"2\",    \"customer_name\": \"Rajat Hans\",    \"customer_email\": \"rajat.hans@kartrocket.com\",    \"customer_phone\": \"+919873786395\",    \"payment_status\": \"\",    \"total\": \"14035.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"INVOICED\",    \"status_code\": 2,    \"payment_method\": \"cod\",    \"channel_created_at\": \"27 Aug 16, 10:17 AM\",    \"created_at\": \"1 Sep 16, 04:15 PM\",    \"products\": [{      \"id\": 2549,      \"channel_order_product_id\": \"2\",      \"name\": \"Grow\",      \"channel_sku\": \"SKU4\",      \"quantity\": 7,      \"product_id\": 319,      \"available\": 79,      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2276,      \"courier\": \"\",      \"weight\": \"1\",      \"dimensions\": \"10 x 10 x 10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\", \"PRODUCT_MAPPED\", \"INVOICED\", \"DIMENSIONS_EDITED\"]  }, {    \"id\": 2275,    \"channel_id\": 127,    \"channel_name\": \"MAGENTO\",    \"base_channel_code\": \"MG\",    \"channel_order_id\": \"1\",    \"customer_name\": \"Rajat Hans\",    \"customer_email\": \"rajat.hans@kartrocket.com\",    \"customer_phone\": \"+919873786395\",    \"payment_status\": \"\",    \"total\": \"8020.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"INVOICED\",    \"status_code\": 2,    \"payment_method\": \"checkmo\",    \"channel_created_at\": \"27 Aug 16, 10:15 AM\",    \"created_at\": \"1 Sep 16, 04:15 PM\",    \"products\": [{      \"id\": 2548,      \"channel_order_product_id\": \"1\",      \"name\": \"Grow\",      \"channel_sku\": \"SKU4\",      \"quantity\": 4,      \"product_id\": 319,      \"available\": 79,      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2275,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\", \"PRODUCT_MAPPED\", \"INVOICED\"]  }, {    \"id\": 2274,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"403-5213676-1382749\",    \"customer_name\": \"Raghavendra\",    \"customer_email\": \"n95nnl5pmbrclzx@marketplace.amazon.in\",    \"customer_phone\": \"7083774943\",    \"payment_status\": \"\",    \"total\": \"5100.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"31 Aug 16, 12:38 PM\",    \"created_at\": \"31 Aug 16, 07:00 PM\",    \"products\": [{      \"id\": 2547,      \"channel_order_product_id\": \"27863886623339\",      \"name\": \"Black \u0026 Decker CS1500 Watt 185mm Wood Cutting Circular Saw\",      \"channel_sku\": \"B\u0026D-CS1500\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2274,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2273,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"23222222222222\",    \"customer_name\": \"lkdfkjdfjkfkj ksjdkjdfdfjdfjk\",    \"customer_email\": \"kmdskjscdcj@JKkjdcdsk.com\",    \"customer_phone\": \"3232233223\",    \"payment_status\": \"\",    \"total\": \"12.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"INVOICED\",    \"status_code\": 2,    \"payment_method\": \"Bank Transfer\",    \"channel_created_at\": \"17 Aug 16, 02:18 PM\",    \"created_at\": \"31 Aug 16, 02:18 PM\",    \"products\": [{      \"id\": 2546,      \"channel_order_product_id\": \"348\",      \"name\": \"m.,,m.\",      \"channel_sku\": \"kmkkm12323\",      \"quantity\": 12,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2273,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10 x 10 x 10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\", \"INVENTORY_ALLOCATED\", \"DIMENSIONS_EDITED\", \"DIMENSIONS_EDITED\", \"CUSTOM_FIELD_UPDATED\", \"INVOICED\"]  }, {    \"id\": 2267,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"402-3943702-0620350\",    \"customer_name\": \"sudhir daswani\",    \"customer_email\": \"q51vvnt4kcrkd1w@marketplace.amazon.in\",    \"customer_phone\": \"9826087087\",    \"payment_status\": \"\",    \"total\": \"3799.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"Other\",    \"channel_created_at\": \"27 Aug 16, 02:02 PM\",    \"created_at\": \"27 Aug 16, 08:30 PM\",    \"products\": [{      \"id\": 2540,      \"channel_order_product_id\": \"13612069307691\",      \"name\": \"Black and Decker EPC12K2 12-Volts Cordless Drill\",      \"channel_sku\": \"B\u0026D-EPC12K2\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2267,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2262,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"42874t23\",    \"customer_name\": \"Rajat Hans\",    \"customer_email\": \"rajathans@gmail.com\",    \"customer_phone\": \"9873786395\",    \"payment_status\": \"\",    \"total\": \"84.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"NEW\",    \"status_code\": 1,    \"payment_method\": \"cod\",    \"channel_created_at\": \"10 Aug 16, 12:19 PM\",    \"created_at\": \"26 Aug 16, 12:19 PM\",    \"products\": [{      \"id\": 2535,      \"channel_order_product_id\": \"315\",      \"name\": \"Tshirt\",      \"channel_sku\": \"SKU1\",      \"quantity\": 4,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2262,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2261,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"403-1269002-4868339\",    \"customer_name\": \"vissu\",    \"customer_email\": \"65cr98d4cxds1c2@marketplace.amazon.in\",    \"customer_phone\": \"9949770777\",    \"payment_status\": \"\",    \"total\": \"5290.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 0,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"24 Aug 16, 10:20 AM\",    \"created_at\": \"24 Aug 16, 04:30 PM\",    \"products\": [{      \"id\": 2534,      \"channel_order_product_id\": \"00539831542555\",      \"name\": \"Skil 9080 JF Car Polisher (1300W)\",      \"channel_sku\": \"S-9080\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2261,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2260,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"171-1943442-9609960\",    \"customer_name\": \"Avinash S Poojary\",    \"customer_email\": \"g1cmpdbbd54xbr3@marketplace.amazon.in\",    \"customer_phone\": \"9916281211\",    \"payment_status\": \"\",    \"total\": \"3115.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"CANCELED\",    \"status_code\": 5,    \"payment_method\": \"cod\",    \"channel_created_at\": \"24 Aug 16, 03:49 AM\",    \"created_at\": \"24 Aug 16, 10:00 AM\",    \"products\": [{      \"id\": 2533,      \"channel_order_product_id\": \"05457018968731\",      \"name\": \"ASP Polyplast Kitchenpride Plastic Round Full Plates , 30Cm , Set of 6 , White\",      \"channel_sku\": \"ASP-001-13\",      \"quantity\": 7,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"CANCELED\"    }],    \"shipments\": [{      \"id\": 2260,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2256,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"171-0317324-3643508\",    \"customer_name\": \"Avinash S Poojary\",    \"customer_email\": \"g1cmpdbbd54xbr3@marketplace.amazon.in\",    \"customer_phone\": \"9916281211\",    \"payment_status\": \"\",    \"total\": \"1395.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"12 Aug 16, 01:10 PM\",    \"created_at\": \"12 Aug 16, 07:31 PM\",    \"products\": [{      \"id\": 2529,      \"channel_order_product_id\": \"28681229839419\",      \"name\": \"ASP Polyplast Kitchenpride Plastic Square Full Plates , 30?30cm , set of 6 ,White\",      \"channel_sku\": \"ASP-001-15\",      \"quantity\": 3,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2256,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }],  \"meta\": {    \"pagination\": {      \"total\": 139,      \"count\": 15,      \"per_page\": 15,      \"current_page\": 1,      \"total_pages\": 10,      \"links\": {        \"next\": \"http://krmct001.kartrocket.com/v1/orders?page=2\"      }    }  }}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get all unprocessable orders1",
            "x-testDescription": "Get a JSON representation of all unprocessable orders"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/orders/processing": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "Get a JSON representation of orders in processing",
        "summary": "Get orders in Processing",
        "operationId": "Get all processing orders",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetAllProcessingOrdersResponse"
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/orders/processing"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{  \"data\": [{    \"id\": 2835,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"123456\",    \"customer_name\": \"John Doe\",    \"customer_email\": \"johndoe@example.com\",    \"customer_phone\": \"9999999999\",    \"payment_status\": \"\",    \"total\": \"79.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"NEW\",    \"status_code\": 1,    \"payment_method\": \"cod\",    \"channel_created_at\": \"13 Sep 16, 11:45 PM\",    \"created_at\": \"13 Sep 16, 11:45 PM\",    \"products\": [{      \"id\": 2588,      \"channel_order_product_id\": \"322\",      \"name\": \"New product\",      \"channel_sku\": \"ABCD123\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2835,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2304,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"404-8000847-8863509\",    \"customer_name\": \"Harish kumar badisa\",    \"customer_email\": \"1wl1f4kj9tgpkd2@marketplace.amazon.in\",    \"customer_phone\": \"9299904615\",    \"payment_status\": \"\",    \"total\": \"1935.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"7 Sep 16, 08:19 AM\",    \"created_at\": \"7 Sep 16, 02:30 PM\",    \"products\": [{      \"id\": 2577,      \"channel_order_product_id\": \"13810481167563\",      \"name\": \"Black \u0026 Decker G720R 4-Inch/100mm 820-Watt Angle Grinder\",      \"channel_sku\": \"B\u0026D-G720\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2304,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2293,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"403-6663700-7373915\",    \"customer_name\": \"Parag Gadgil\",    \"customer_email\": \"14sp7qvtgd0lxm6@marketplace.amazon.in\",    \"customer_phone\": \"9922080922\",    \"payment_status\": \"\",    \"total\": \"2545.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"6 Sep 16, 10:22 AM\",    \"created_at\": \"6 Sep 16, 05:30 PM\",    \"products\": [{      \"id\": 2566,      \"channel_order_product_id\": \"19002651668963\",      \"name\": \"Black \u0026 Decker KS700PE 480-Watt Variable Speed Pendulum Jigsaw\",      \"channel_sku\": \"B\u0026D-KS700PE\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2293,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2286,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"171-8781295-5529161\",    \"customer_name\": \"ROHIT GANGA DEB\",    \"customer_email\": \"5pjcxfbh4cg5c5k@marketplace.amazon.in\",    \"customer_phone\": \"9937636446\",    \"payment_status\": \"\",    \"total\": \"2035.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"Other\",    \"channel_created_at\": \"5 Sep 16, 07:39 AM\",    \"created_at\": \"5 Sep 16, 02:00 PM\",    \"products\": [{      \"id\": 2559,      \"channel_order_product_id\": \"63310534052747\",      \"name\": \"Skil 7335 Orbital Sander 160W 93x230mm\",      \"channel_sku\": \"S-7335\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2286,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2278,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"3498483489\",    \"customer_name\": \"iodwuidsiud \",    \"customer_email\": \"dwieudiuE@ddjdks.com\",    \"customer_phone\": \"7834783478\",    \"payment_status\": \"\",    \"total\": \"0.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"PICKUP SCHEDULED\",    \"status_code\": 4,    \"payment_method\": \"Bank Transfer\",    \"channel_created_at\": \"13 Sep 16, 04:33 PM\",    \"created_at\": \"1 Sep 16, 04:33 PM\",    \"products\": [{      \"id\": 2551,      \"channel_order_product_id\": \"315\",      \"name\": \"Tshirt\",      \"channel_sku\": \"SKU1\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2278,      \"courier\": \"FEDEX\",      \"weight\": \"0.5\",      \"dimensions\": \"10 x 10 x 10\",      \"awb\": \"783975617971\"    }],    \"activities\": [\"ORDER_FETCHED\", \"DIMENSIONS_EDITED\", \"DIRECT_INVOICED\", \"LABEL_GENERATED\", \"MANIFEST_SCHEDULED\"]  }, {    \"id\": 2277,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"8394444444\",    \"customer_name\": \"locdijkdjs nkddjcndskjc\",    \"customer_email\": \"djks@kjsd.com\",    \"customer_phone\": \"9871727172\",    \"payment_status\": \"\",    \"total\": \"551.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"OUT OF STOCK\",    \"status_code\": 11,    \"payment_method\": \"Bank Transfer\",    \"channel_created_at\": \"14 Sep 16, 04:19 PM\",    \"created_at\": \"1 Sep 16, 04:19 PM\",    \"products\": [{      \"id\": 2550,      \"channel_order_product_id\": \"315\",      \"name\": \"Tshirt\",      \"channel_sku\": \"SKU1\",      \"quantity\": 29,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"OUT OF STOCK\"    }],    \"shipments\": [{      \"id\": 2277,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2276,    \"channel_id\": 127,    \"channel_name\": \"MAGENTO\",    \"base_channel_code\": \"MG\",    \"channel_order_id\": \"2\",    \"customer_name\": \"Rajat Hans\",    \"customer_email\": \"rajat.hans@kartrocket.com\",    \"customer_phone\": \"+919873786395\",    \"payment_status\": \"\",    \"total\": \"14035.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"INVOICED\",    \"status_code\": 2,    \"payment_method\": \"cod\",    \"channel_created_at\": \"27 Aug 16, 10:17 AM\",    \"created_at\": \"1 Sep 16, 04:15 PM\",    \"products\": [{      \"id\": 2549,      \"channel_order_product_id\": \"2\",      \"name\": \"Grow\",      \"channel_sku\": \"SKU4\",      \"quantity\": 7,      \"product_id\": 319,      \"available\": 79,      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2276,      \"courier\": \"\",      \"weight\": \"1\",      \"dimensions\": \"10 x 10 x 10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\", \"PRODUCT_MAPPED\", \"INVOICED\", \"DIMENSIONS_EDITED\"]  }, {    \"id\": 2275,    \"channel_id\": 127,    \"channel_name\": \"MAGENTO\",    \"base_channel_code\": \"MG\",    \"channel_order_id\": \"1\",    \"customer_name\": \"Rajat Hans\",    \"customer_email\": \"rajat.hans@kartrocket.com\",    \"customer_phone\": \"+919873786395\",    \"payment_status\": \"\",    \"total\": \"8020.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"INVOICED\",    \"status_code\": 2,    \"payment_method\": \"checkmo\",    \"channel_created_at\": \"27 Aug 16, 10:15 AM\",    \"created_at\": \"1 Sep 16, 04:15 PM\",    \"products\": [{      \"id\": 2548,      \"channel_order_product_id\": \"1\",      \"name\": \"Grow\",      \"channel_sku\": \"SKU4\",      \"quantity\": 4,      \"product_id\": 319,      \"available\": 79,      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2275,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\", \"PRODUCT_MAPPED\", \"INVOICED\"]  }, {    \"id\": 2274,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"403-5213676-1382749\",    \"customer_name\": \"Raghavendra\",    \"customer_email\": \"n95nnl5pmbrclzx@marketplace.amazon.in\",    \"customer_phone\": \"7083774943\",    \"payment_status\": \"\",    \"total\": \"5100.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"31 Aug 16, 12:38 PM\",    \"created_at\": \"31 Aug 16, 07:00 PM\",    \"products\": [{      \"id\": 2547,      \"channel_order_product_id\": \"27863886623339\",      \"name\": \"Black \u0026 Decker CS1500 Watt 185mm Wood Cutting Circular Saw\",      \"channel_sku\": \"B\u0026D-CS1500\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2274,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2273,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"23222222222222\",    \"customer_name\": \"lkdfkjdfjkfkj ksjdkjdfdfjdfjk\",    \"customer_email\": \"kmdskjscdcj@JKkjdcdsk.com\",    \"customer_phone\": \"3232233223\",    \"payment_status\": \"\",    \"total\": \"12.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"INVOICED\",    \"status_code\": 2,    \"payment_method\": \"Bank Transfer\",    \"channel_created_at\": \"17 Aug 16, 02:18 PM\",    \"created_at\": \"31 Aug 16, 02:18 PM\",    \"products\": [{      \"id\": 2546,      \"channel_order_product_id\": \"348\",      \"name\": \"m.,,m.\",      \"channel_sku\": \"kmkkm12323\",      \"quantity\": 12,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2273,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10 x 10 x 10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\", \"INVENTORY_ALLOCATED\", \"DIMENSIONS_EDITED\", \"DIMENSIONS_EDITED\", \"CUSTOM_FIELD_UPDATED\", \"INVOICED\"]  }, {    \"id\": 2267,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"402-3943702-0620350\",    \"customer_name\": \"sudhir daswani\",    \"customer_email\": \"q51vvnt4kcrkd1w@marketplace.amazon.in\",    \"customer_phone\": \"9826087087\",    \"payment_status\": \"\",    \"total\": \"3799.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"Other\",    \"channel_created_at\": \"27 Aug 16, 02:02 PM\",    \"created_at\": \"27 Aug 16, 08:30 PM\",    \"products\": [{      \"id\": 2540,      \"channel_order_product_id\": \"13612069307691\",      \"name\": \"Black and Decker EPC12K2 12-Volts Cordless Drill\",      \"channel_sku\": \"B\u0026D-EPC12K2\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2267,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2262,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"42874t23\",    \"customer_name\": \"Rajat Hans\",    \"customer_email\": \"rajathans@gmail.com\",    \"customer_phone\": \"9873786395\",    \"payment_status\": \"\",    \"total\": \"84.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"NEW\",    \"status_code\": 1,    \"payment_method\": \"cod\",    \"channel_created_at\": \"10 Aug 16, 12:19 PM\",    \"created_at\": \"26 Aug 16, 12:19 PM\",    \"products\": [{      \"id\": 2535,      \"channel_order_product_id\": \"315\",      \"name\": \"Tshirt\",      \"channel_sku\": \"SKU1\",      \"quantity\": 4,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2262,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2261,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"403-1269002-4868339\",    \"customer_name\": \"vissu\",    \"customer_email\": \"65cr98d4cxds1c2@marketplace.amazon.in\",    \"customer_phone\": \"9949770777\",    \"payment_status\": \"\",    \"total\": \"5290.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 0,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"24 Aug 16, 10:20 AM\",    \"created_at\": \"24 Aug 16, 04:30 PM\",    \"products\": [{      \"id\": 2534,      \"channel_order_product_id\": \"00539831542555\",      \"name\": \"Skil 9080 JF Car Polisher (1300W)\",      \"channel_sku\": \"S-9080\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2261,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2260,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"171-1943442-9609960\",    \"customer_name\": \"Avinash S Poojary\",    \"customer_email\": \"g1cmpdbbd54xbr3@marketplace.amazon.in\",    \"customer_phone\": \"9916281211\",    \"payment_status\": \"\",    \"total\": \"3115.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"CANCELED\",    \"status_code\": 5,    \"payment_method\": \"cod\",    \"channel_created_at\": \"24 Aug 16, 03:49 AM\",    \"created_at\": \"24 Aug 16, 10:00 AM\",    \"products\": [{      \"id\": 2533,      \"channel_order_product_id\": \"05457018968731\",      \"name\": \"ASP Polyplast Kitchenpride Plastic Round Full Plates , 30Cm , Set of 6 , White\",      \"channel_sku\": \"ASP-001-13\",      \"quantity\": 7,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"CANCELED\"    }],    \"shipments\": [{      \"id\": 2260,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2256,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"171-0317324-3643508\",    \"customer_name\": \"Avinash S Poojary\",    \"customer_email\": \"g1cmpdbbd54xbr3@marketplace.amazon.in\",    \"customer_phone\": \"9916281211\",    \"payment_status\": \"\",    \"total\": \"1395.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"12 Aug 16, 01:10 PM\",    \"created_at\": \"12 Aug 16, 07:31 PM\",    \"products\": [{      \"id\": 2529,      \"channel_order_product_id\": \"28681229839419\",      \"name\": \"ASP Polyplast Kitchenpride Plastic Square Full Plates , 30?30cm , set of 6 ,White\",      \"channel_sku\": \"ASP-001-15\",      \"quantity\": 3,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2256,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }],  \"meta\": {    \"pagination\": {      \"total\": 139,      \"count\": 15,      \"per_page\": 15,      \"current_page\": 1,      \"total_pages\": 10,      \"links\": {        \"next\": \"http://krmct001.kartrocket.com/v1/orders?page=2\"      }    }  }}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get all processing orders1",
            "x-testDescription": "Get a JSON representation of orders in processing"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/orders/manifested": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "Get a JSON representation of all manifest stage orders",
        "summary": "Get manifested orders",
        "operationId": "Get all manifested orders",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetAllManifestedOrdersResponse"
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/orders/manifested"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{  \"data\": [{    \"id\": 2835,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"123456\",    \"customer_name\": \"John Doe\",    \"customer_email\": \"johndoe@example.com\",    \"customer_phone\": \"9999999999\",    \"payment_status\": \"\",    \"total\": \"79.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"NEW\",    \"status_code\": 1,    \"payment_method\": \"cod\",    \"channel_created_at\": \"13 Sep 16, 11:45 PM\",    \"created_at\": \"13 Sep 16, 11:45 PM\",    \"products\": [{      \"id\": 2588,      \"channel_order_product_id\": \"322\",      \"name\": \"New product\",      \"channel_sku\": \"ABCD123\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2835,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2304,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"404-8000847-8863509\",    \"customer_name\": \"Harish kumar badisa\",    \"customer_email\": \"1wl1f4kj9tgpkd2@marketplace.amazon.in\",    \"customer_phone\": \"9299904615\",    \"payment_status\": \"\",    \"total\": \"1935.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"7 Sep 16, 08:19 AM\",    \"created_at\": \"7 Sep 16, 02:30 PM\",    \"products\": [{      \"id\": 2577,      \"channel_order_product_id\": \"13810481167563\",      \"name\": \"Black \u0026 Decker G720R 4-Inch/100mm 820-Watt Angle Grinder\",      \"channel_sku\": \"B\u0026D-G720\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2304,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2293,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"403-6663700-7373915\",    \"customer_name\": \"Parag Gadgil\",    \"customer_email\": \"14sp7qvtgd0lxm6@marketplace.amazon.in\",    \"customer_phone\": \"9922080922\",    \"payment_status\": \"\",    \"total\": \"2545.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"6 Sep 16, 10:22 AM\",    \"created_at\": \"6 Sep 16, 05:30 PM\",    \"products\": [{      \"id\": 2566,      \"channel_order_product_id\": \"19002651668963\",      \"name\": \"Black \u0026 Decker KS700PE 480-Watt Variable Speed Pendulum Jigsaw\",      \"channel_sku\": \"B\u0026D-KS700PE\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2293,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2286,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"171-8781295-5529161\",    \"customer_name\": \"ROHIT GANGA DEB\",    \"customer_email\": \"5pjcxfbh4cg5c5k@marketplace.amazon.in\",    \"customer_phone\": \"9937636446\",    \"payment_status\": \"\",    \"total\": \"2035.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"Other\",    \"channel_created_at\": \"5 Sep 16, 07:39 AM\",    \"created_at\": \"5 Sep 16, 02:00 PM\",    \"products\": [{      \"id\": 2559,      \"channel_order_product_id\": \"63310534052747\",      \"name\": \"Skil 7335 Orbital Sander 160W 93x230mm\",      \"channel_sku\": \"S-7335\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2286,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2278,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"3498483489\",    \"customer_name\": \"iodwuidsiud \",    \"customer_email\": \"dwieudiuE@ddjdks.com\",    \"customer_phone\": \"7834783478\",    \"payment_status\": \"\",    \"total\": \"0.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"PICKUP SCHEDULED\",    \"status_code\": 4,    \"payment_method\": \"Bank Transfer\",    \"channel_created_at\": \"13 Sep 16, 04:33 PM\",    \"created_at\": \"1 Sep 16, 04:33 PM\",    \"products\": [{      \"id\": 2551,      \"channel_order_product_id\": \"315\",      \"name\": \"Tshirt\",      \"channel_sku\": \"SKU1\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2278,      \"courier\": \"FEDEX\",      \"weight\": \"0.5\",      \"dimensions\": \"10 x 10 x 10\",      \"awb\": \"783975617971\"    }],    \"activities\": [\"ORDER_FETCHED\", \"DIMENSIONS_EDITED\", \"DIRECT_INVOICED\", \"LABEL_GENERATED\", \"MANIFEST_SCHEDULED\"]  }, {    \"id\": 2277,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"8394444444\",    \"customer_name\": \"locdijkdjs nkddjcndskjc\",    \"customer_email\": \"djks@kjsd.com\",    \"customer_phone\": \"9871727172\",    \"payment_status\": \"\",    \"total\": \"551.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"OUT OF STOCK\",    \"status_code\": 11,    \"payment_method\": \"Bank Transfer\",    \"channel_created_at\": \"14 Sep 16, 04:19 PM\",    \"created_at\": \"1 Sep 16, 04:19 PM\",    \"products\": [{      \"id\": 2550,      \"channel_order_product_id\": \"315\",      \"name\": \"Tshirt\",      \"channel_sku\": \"SKU1\",      \"quantity\": 29,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"OUT OF STOCK\"    }],    \"shipments\": [{      \"id\": 2277,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2276,    \"channel_id\": 127,    \"channel_name\": \"MAGENTO\",    \"base_channel_code\": \"MG\",    \"channel_order_id\": \"2\",    \"customer_name\": \"Rajat Hans\",    \"customer_email\": \"rajat.hans@kartrocket.com\",    \"customer_phone\": \"+919873786395\",    \"payment_status\": \"\",    \"total\": \"14035.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"INVOICED\",    \"status_code\": 2,    \"payment_method\": \"cod\",    \"channel_created_at\": \"27 Aug 16, 10:17 AM\",    \"created_at\": \"1 Sep 16, 04:15 PM\",    \"products\": [{      \"id\": 2549,      \"channel_order_product_id\": \"2\",      \"name\": \"Grow\",      \"channel_sku\": \"SKU4\",      \"quantity\": 7,      \"product_id\": 319,      \"available\": 79,      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2276,      \"courier\": \"\",      \"weight\": \"1\",      \"dimensions\": \"10 x 10 x 10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\", \"PRODUCT_MAPPED\", \"INVOICED\", \"DIMENSIONS_EDITED\"]  }, {    \"id\": 2275,    \"channel_id\": 127,    \"channel_name\": \"MAGENTO\",    \"base_channel_code\": \"MG\",    \"channel_order_id\": \"1\",    \"customer_name\": \"Rajat Hans\",    \"customer_email\": \"rajat.hans@kartrocket.com\",    \"customer_phone\": \"+919873786395\",    \"payment_status\": \"\",    \"total\": \"8020.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"INVOICED\",    \"status_code\": 2,    \"payment_method\": \"checkmo\",    \"channel_created_at\": \"27 Aug 16, 10:15 AM\",    \"created_at\": \"1 Sep 16, 04:15 PM\",    \"products\": [{      \"id\": 2548,      \"channel_order_product_id\": \"1\",      \"name\": \"Grow\",      \"channel_sku\": \"SKU4\",      \"quantity\": 4,      \"product_id\": 319,      \"available\": 79,      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2275,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\", \"PRODUCT_MAPPED\", \"INVOICED\"]  }, {    \"id\": 2274,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"403-5213676-1382749\",    \"customer_name\": \"Raghavendra\",    \"customer_email\": \"n95nnl5pmbrclzx@marketplace.amazon.in\",    \"customer_phone\": \"7083774943\",    \"payment_status\": \"\",    \"total\": \"5100.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"31 Aug 16, 12:38 PM\",    \"created_at\": \"31 Aug 16, 07:00 PM\",    \"products\": [{      \"id\": 2547,      \"channel_order_product_id\": \"27863886623339\",      \"name\": \"Black \u0026 Decker CS1500 Watt 185mm Wood Cutting Circular Saw\",      \"channel_sku\": \"B\u0026D-CS1500\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2274,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2273,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"23222222222222\",    \"customer_name\": \"lkdfkjdfjkfkj ksjdkjdfdfjdfjk\",    \"customer_email\": \"kmdskjscdcj@JKkjdcdsk.com\",    \"customer_phone\": \"3232233223\",    \"payment_status\": \"\",    \"total\": \"12.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"INVOICED\",    \"status_code\": 2,    \"payment_method\": \"Bank Transfer\",    \"channel_created_at\": \"17 Aug 16, 02:18 PM\",    \"created_at\": \"31 Aug 16, 02:18 PM\",    \"products\": [{      \"id\": 2546,      \"channel_order_product_id\": \"348\",      \"name\": \"m.,,m.\",      \"channel_sku\": \"kmkkm12323\",      \"quantity\": 12,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2273,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10 x 10 x 10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\", \"INVENTORY_ALLOCATED\", \"DIMENSIONS_EDITED\", \"DIMENSIONS_EDITED\", \"CUSTOM_FIELD_UPDATED\", \"INVOICED\"]  }, {    \"id\": 2267,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"402-3943702-0620350\",    \"customer_name\": \"sudhir daswani\",    \"customer_email\": \"q51vvnt4kcrkd1w@marketplace.amazon.in\",    \"customer_phone\": \"9826087087\",    \"payment_status\": \"\",    \"total\": \"3799.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"Other\",    \"channel_created_at\": \"27 Aug 16, 02:02 PM\",    \"created_at\": \"27 Aug 16, 08:30 PM\",    \"products\": [{      \"id\": 2540,      \"channel_order_product_id\": \"13612069307691\",      \"name\": \"Black and Decker EPC12K2 12-Volts Cordless Drill\",      \"channel_sku\": \"B\u0026D-EPC12K2\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2267,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2262,    \"channel_id\": 89,    \"channel_name\": \"CUSTOM\",    \"base_channel_code\": \"CS\",    \"channel_order_id\": \"42874t23\",    \"customer_name\": \"Rajat Hans\",    \"customer_email\": \"rajathans@gmail.com\",    \"customer_phone\": \"9873786395\",    \"payment_status\": \"\",    \"total\": \"84.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SR\",    \"expedited\": 0,    \"status\": \"NEW\",    \"status_code\": 1,    \"payment_method\": \"cod\",    \"channel_created_at\": \"10 Aug 16, 12:19 PM\",    \"created_at\": \"26 Aug 16, 12:19 PM\",    \"products\": [{      \"id\": 2535,      \"channel_order_product_id\": \"315\",      \"name\": \"Tshirt\",      \"channel_sku\": \"SKU1\",      \"quantity\": 4,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"FULFILLABLE\"    }],    \"shipments\": [{      \"id\": 2262,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2261,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"403-1269002-4868339\",    \"customer_name\": \"vissu\",    \"customer_email\": \"65cr98d4cxds1c2@marketplace.amazon.in\",    \"customer_phone\": \"9949770777\",    \"payment_status\": \"\",    \"total\": \"5290.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 0,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"24 Aug 16, 10:20 AM\",    \"created_at\": \"24 Aug 16, 04:30 PM\",    \"products\": [{      \"id\": 2534,      \"channel_order_product_id\": \"00539831542555\",      \"name\": \"Skil 9080 JF Car Polisher (1300W)\",      \"channel_sku\": \"S-9080\",      \"quantity\": 1,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2261,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2260,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"171-1943442-9609960\",    \"customer_name\": \"Avinash S Poojary\",    \"customer_email\": \"g1cmpdbbd54xbr3@marketplace.amazon.in\",    \"customer_phone\": \"9916281211\",    \"payment_status\": \"\",    \"total\": \"3115.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"CANCELED\",    \"status_code\": 5,    \"payment_method\": \"cod\",    \"channel_created_at\": \"24 Aug 16, 03:49 AM\",    \"created_at\": \"24 Aug 16, 10:00 AM\",    \"products\": [{      \"id\": 2533,      \"channel_order_product_id\": \"05457018968731\",      \"name\": \"ASP Polyplast Kitchenpride Plastic Round Full Plates , 30Cm , Set of 6 , White\",      \"channel_sku\": \"ASP-001-13\",      \"quantity\": 7,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"CANCELED\"    }],    \"shipments\": [{      \"id\": 2260,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }, {    \"id\": 2256,    \"channel_id\": 91,    \"channel_name\": \"AMAZON_IN\",    \"base_channel_code\": \"AZ\",    \"channel_order_id\": \"171-0317324-3643508\",    \"customer_name\": \"Avinash S Poojary\",    \"customer_email\": \"g1cmpdbbd54xbr3@marketplace.amazon.in\",    \"customer_phone\": \"9916281211\",    \"payment_status\": \"\",    \"total\": \"1395.00\",    \"tax\": \"0.00\",    \"sla\": \"2 days\",    \"shipping_method\": \"SC\",    \"expedited\": 2,    \"status\": \"SHIPPED\",    \"status_code\": 6,    \"payment_method\": \"cod\",    \"channel_created_at\": \"12 Aug 16, 01:10 PM\",    \"created_at\": \"12 Aug 16, 07:31 PM\",    \"products\": [{      \"id\": 2529,      \"channel_order_product_id\": \"28681229839419\",      \"name\": \"ASP Polyplast Kitchenpride Plastic Square Full Plates , 30?30cm , set of 6 ,White\",      \"channel_sku\": \"ASP-001-15\",      \"quantity\": 3,      \"product_id\": null,      \"available\": \"0\",      \"status\": \"UNMAPPED\"    }],    \"shipments\": [{      \"id\": 2256,      \"courier\": \"\",      \"weight\": \"0.5\",      \"dimensions\": \"10x10x10\",      \"awb\": \"\"    }],    \"activities\": [\"ORDER_FETCHED\"]  }],  \"meta\": {    \"pagination\": {      \"total\": 139,      \"count\": 15,      \"per_page\": 15,      \"current_page\": 1,      \"total_pages\": 10,      \"links\": {        \"next\": \"http://krmct001.kartrocket.com/v1/orders?page=2\"      }    }  }}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get all manifested orders1",
            "x-testDescription": "Get a JSON representation of all manifest stage orders"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/orders/count": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "Get count of orders in unprocessable, processing and manifested tabs",
        "summary": "Get count of orders",
        "operationId": "Get orders count",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetOrdersCountResponse"
            }
          }
        },
        "x-unitTests": [{
            "request": {
              "method": "GET",
              "uri": "/v1/external/orders/count"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{    \"manifested_count\": 4,    \"processing_count\": 22,    \"unprocessing_count\": 1}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get orders count1",
            "x-testDescription": "Get count of orders in unprocessable, processing and manifested tabs"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/orders/show/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "Get order and shipment details",
        "summary": "Get order Details",
        "operationId": "Get order",
        "produces": ["application/json"],
        "parameters": [{
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The order id"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            }
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/orders/fetch": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "Fetch orders from all channels",
        "summary": "Fetch orders from channels",
        "operationId": "Fetch orders",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
[...]
